body, html {
  font-size: 1em;
}

#name {
  display: none;
}

.container {
  position: relative;
  padding-bottom: 80px;
}

.basic-info {
  width: 450px;
  margin: auto;
  margin-top: 4em;
}

a {
  color: #943E0F;
}

.basic-info span {
  display: inline-block;
  width: 120px;
}

.content {
  width: 850px;
  margin: auto;
  margin-top: 3em;
  overflow: hidden;
}

.content .left {
  float: left;
  width: 150px;
  height: auto;
  text-align: right;
}

.content .right {
  width: 650px;
  float: right;
}

.big {
  font-size: 1.1em;
}

span, .left {
  font-style: italic;
}

@media print {
  body {
    background-color: white;
    font-size: 12pt;
  }

  html, body, .container {
    height: auto;
  }

  .container {
    padding-bottom: 0;
  }

  .basic-info {
    margin-top: 2em;
  }

  .content {
    margin-top: 1.5em;
  }

  #name {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 1.7em;
    margin-top: 1.7em;
  }

  nav, footer {
    display: none;
  }

  .big {
    font-size: 1em;
  }

  p {
    padding: 5px 3px 5px 0;
    margin: 0;
  }

  a { 
    background: transparent; 
    text-decoration: none;
    color: #943E0F !important;
  }

  a[href^="/"]:after, a.hide-print:link:after {
    content: "";
    color: #943E0F !important;
  }
}
