body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fdf6e3;
    color: #657b83;
    font-family: 'Imprima', sans-serif;
    position: relative;
}

#ant {
    width: 100%;
    height: 100%;
    opacity: 0.10;
    position: absolute;
}

.container {
    min-height: 100%;
    position: relative;
    padding-bottom: 40px;
}

nav {
    list-style: none;
    text-align: center;
    padding-top: 20px;
}

nav li {
    display: inline-block;
    font-size: 25px;
}

nav li a {
    text-decoration: none;
    color: #657b83;
    margin: 1.5em;
    font-family: 'Kotta One', serif;
}

nav li a:hover, article a:hover {
    color: #C9BC0F;
}

.main {
    margin: 6em auto 0 auto;
    padding: 20px;
    width: 768px;
}

h1 {
    display: inline-block;
    font-size: 1.4em;
    font-family: 'Kotta One', serif;
    font-weight: normal;
    color: #943E0F;
}

p {
    font-family: 'Imprima', sans-serif;
}

.introduction {
    margin-top: 3em;
    white-space: pre-line;
}

article a {
    color: #657b83;
    font-size: 0.9em;
}

.posts span {
    font-size: 1.1em;
}

.posts time, #practicioner {
    font-size: 0.8em;
}

#practicioner {
    color: #943E0F;
}

.experiments {
    padding-top: 4em;
}

.experiments a {
    display: block;
    line-height: 1.8em;
}

time {
    float: right;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.avatar {
    height: 200px;
    width: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: url("/img/ns.jpeg") no-repeat;
    float: right;
    margin: 10px 5px 20px 20px ;
}

.avatar:hover {
    background: url("/img/nsh.jpeg") no-repeat;
}

.contact {
    margin: auto;
    text-align: center;
}

.contact a {
    font-size: 1.5em;
    margin: 2em;
    color: #943E0F;
}

pre.prettyprint {
  margin: 10px;
  padding: 10px;
}
