body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F1EDE4;
  color: #657b83;
  border-top: 1px solid #943E0F;
  font-family: 'Fira Sans', sans-serif;
  position: relative;
}
#ant {
  width: 100%;
  height: 100%;
  opacity: 0.10;
  position: absolute;
}
.container {
  min-height: 100%;
  padding-bottom:10px;
}
.content {
  margin-top: 3em;
}

.navbar-default {
  background-color: transparent;
  border: 0;
  padding-right: 10px;
}
.navbar-collapse {
  border: 0;
}
.navbar-nav {
  text-align: center;
  display: inline-block;
  float: right;
}
.navbar-default .navbar-nav>li>a {
  color: #943E0F;
  padding: 10px 17px;
}
h1 {
  display: inline-block;
  font-size: 1.4em;
  font-weight: normal;
  font-family: 'Fira Sans', sans-serif;
  color: #943E0F;
}
h2 {
  display: inline-block;
  font-size: 1.2em;
  font-weight: normal;
  font-family: 'Fira Sans', sans-serif;
  color: #943E0F;
}
.introduction {
  margin-top: 3em;
}
.link-list {
  list-style: none;
  padding-left: 0;
}
.link-list a {
  color: #657b83;
}
.practicioner {
  color: #943E0F;
}
footer {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
.avatar {
  height: 200px;
  width: 200px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: url("../img/ns.jpeg") no-repeat;
  float: right;
  margin: 10px 5px 20px 20px;
}
.avatar:hover {
  background: url("../img/nsh.jpeg") no-repeat;
}
.contact {
  margin: auto;
  text-align: center;
}
.contact a {
  font-size: 1.5em;
  margin: 2em;
  color: #943E0F;
}
pre.prettyprint {
  margin: 10px;
  padding: 10px;
}