body {
  font-family: 'Montserrat', sans-serif;
  background:url('ns.jpg') no-repeat;
  bgproperties: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.main {
  position: relative;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#lang_e, #lang_s {
  font-size: 1em;
  position: absolute;
  top: 40px;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
}

#lang_e a:visited, #lang_s a:visited {
  color: #96f;
}

#lang_e {
  right: 35px;
}

#lang_s {
  right: 115px;
}

#lang_e a, #lang_s a {
  text-decoration: none;
  color: #306;
}

div.contact ul {
  position: absolute;
  top: 100px;
  right: 15px;
  list-style: none;
}

div.contact ul li {
  margin-right: 26px;
  float:left;
}

.logo:hover {
  opacity: 0.7;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform:(.9);
}

div.about {
  margin: 30px 20px 20px 0;
}

#rendered-text a {
  text-decoration: none;
  color: #fff;
}

#rendered-text a:visited {
  color: #96f;
}
  
#rendered-text a:hover {
  text-shadow: -1px -1px 1px #fff;
}

span {
  background-color: #000;
  padding: 5px;
  margin: 0;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
}

h1, h2, p {
  margin: 20px 0 20px 0;
  
}

h1 {
  color: #96c; 
  font: 1.8em bold serif;
}

h2 {
  color: #96c;
  font: 1.4em normal serif;
}

p {
  font-size: 1.2em;
  color: #fff;
}

