* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
    background-image: url('main-bg.png');
    font-family: 'Averia Gruesa Libre', cursive;
    text-align: center;
}
.main {
    margin: 0 auto;
    padding: 9% 0;
}
.today, .once {
    display: inline-table;
    text-align: left;
}
h1 {
    color: #981020; 
    font-size: 2.6em;
    font-weight: bold;
    font-family: 'Averia Gruesa Libre', cursive;
}
h2 {
    color: #981020;
    font: 1.8em normal;
    font-weight: bold;
    font-family: 'Averia Gruesa Libre', cursive;}
p {
    color: #2B2E36;
    word-spacing: 0.1em;
    font-size: 1.3em;
    font-family: 'Averia Gruesa Libre', cursive;
}
footer li {
    list-style: none;
    display: inline-block;
    margin: 0 2.5em;
}
a {
    font-size: 1.1em;
    color: #689C8C; 
}
a:hover {
    text-decoration: underline;
    color: #981020;
}
hr {
    border: 0;
    height: 1px;
    background: -webkit-linear-gradient(left, rgba(112,156,128,0), rgba(112,156,128,0.75), rgba(112,156,128,0));
    background: -moz-linear-gradient(left, rgba(112,156,128,0), rgba(112,156,128,0.75), rgba(112,156,128,0));
    background: -ms-linear-gradient(left, rgba(112,156,128,0), rgba(112,156,128,0.75), rgba(112,156,128,0));
    background: -o-linear-gradient(left, rgba(112,156,128,0), rgba(112,156,128,0.75), rgba(112,156,128,0)); }
}
