{:site-title       "Nebojša Stričević"
 :author           "Nebojša Stričević"
 :description      "Strika's personal website."
 :site-url         "http://www.strika.info"
 :post-root        "posts"
 :tag-root         "tags"
 :page-root        ""
 :blog-prefix      ""
 :rss-name         "feed.xml"
 :rss-filters      ["cryogen"]
 :recent-posts     16
 :post-date-format "yyyy-MM-dd"
 :sass-src         nil
 :sass-dest        nil
 :resources        ["css" "js" "img" "404.html" "CNAME"]
 :keep-files       [".git"]
 :disqus?          false
 :disqus-shortname ""
 :ignored-files    [#"\.#.*" #".*\.swp$"]}
