{% extends "templates/html/layouts/base.html" %}

{% block body-class %}index{% endblock %}

{% block content %}
<div class="avatar">
</div>

<header>
  <h1>Let's make stuff!</h1>
</header>

<p>
  My name is Nebojša Stričević, but friends call me Strika. So should you.
</p>

<p>
  I'm an independent consultant. I can help you make more money or save money
  by developing a custom web application.
</p>

<p>
  I was as a lead engineer on <a href="https://semaphoreci.com">Semaphore</a>
  - a continuous testing and deployment service. I was there when the project
  started and a "team" of 0.5 developers worked on it. I was also there when
  thousands of developers around the world used the service every day and a
  dedicated team of 18 engineers, designers, writers and other makers worked on
  the project.
</p>

<p>
  I wrote several articles
  for <a href="https://semaphoreci.com/community/authors/strika">Semaphore Community</a>
  about software engineering in general and deploying and testing Ruby and
  Clojure applications:
</p>

<ul>
  <li><a href="https://semaphoreci.com/community/tutorials/how-to-deal-with-and-eliminate-flaky-tests">How to Deal With and Eliminate Flaky Tests</a></li>
  <li><a href="https://semaphoreci.com/community/tutorials/setting-up-the-bdd-stack-on-a-new-rails-4-application">Setting Up the BDD Stack on a New Rails 4 Application</a></li>
  <li><a href="https://semaphoreci.com/community/tutorials/automatic-security-testing-of-rails-applications-using-brakeman">Automatic Security Testing of Rails Applications Using Brakeman</a></li>
  <li><a href="https://semaphoreci.com/community/tutorials/how-to-deploy-compojure-application-to-openshift">How to Deploy a Compojure Application to OpenShift</a></li>
  <li><a href="https://semaphoreci.com/community/tutorials/testing-clojure-web-applications-with-selenium">Testing Clojure Web Applications with Selenium</a></li>
  <li><a href="https://semaphoreci.com/community/tutorials/testing-clojure-web-applications-with-kerodon">Testing Clojure web applications with Kerodon</a></li>
  <li><a href="https://semaphoreci.com/community/tutorials/how-to-write-a-custom-kerodon-matcher">How to write a custom Kerodon matcher</a></li>
  <li><a href="https://semaphoreci.com/community/tutorials/testing-clojure-with-expectations">Testing Clojure With Expectations</a></li>
</ul>

<p>
  I live in Novi Sad, Serbia, with my wonderful wife <a href="http://hackberry.co">Tanja</a>
  and son Mihajlo.
</p>

<p>
  Feel free to send me an <a href="mailto:nebojsa.stricevic@gmail.com">email</a>,
  follow me on <a href="http://twitter.com/nstricevic">Twitter</a> or connect with
  my <a href="http://rs.linkedin.com/in/nebojsastricevic/">LinkedIn account</a>.
  Also, check out my work on <a href="http://github.com/strika">GitHub</a>.
</p>

<p>
  If you're interested in my professional work, please see my
  <a href="/cv.html">resume</a>.
</p>

{% if latest-posts|not-empty %}
<div class="posts">
  <h2>Posts</h3>

  <ul class="link-list">
    {% for post in latest-posts %}
    <li><a href="{{post.uri}}">{{post.title}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% endblock %}
